@use '@styles/_variables' as *;
@use '@styles/_functions' as *;

.table {
  :global {
    .ant-table-wrapper {
      border-radius: 0 12px 12px 0;
      overflow: hidden;
    }

    .ant-table {
      border-radius: 12px;
      overflow: hidden;
      font-family: 'Montserrat', sans-serif;
      border-collapse: collapse;
      border-spacing: 0;
    }

    .ant-table-thead > tr > th {
      background: color(primary);
      color: color(light);
      font-weight: 700;
      text-align: left;
      padding: 23.5px 16px;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0%;
      border-right: 1px solid color(border-header-table);
      border-bottom: 1px solid color(primary);
    }

    .ant-table-tbody > tr > td.leftCol,
    .ant-table-tbody > tr > td.rightCol {
      background: color(background-table);
      padding: 14px 16px;
      border-top: 1px solid color(border-table);
      border-right: 1px solid color(border-table);
    }

    .ant-table-tbody > tr:last-child > td.leftCol,
    .ant-table-tbody > tr:last-child > td.rightCol {
      border-bottom: none;
    }

    .ant-table-thead > tr > th::before,
    .ant-table-thead > tr > td::before {
      content: none !important;
    }
  }

  .holder {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }
  .share {
    font-weight: 400;
    line-height: 20px;
  }
}

@media (max-width: 1200px) {
  .table {
    :global {
      .ant-table-tbody > tr > td.rightCol {
        border-right: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .table {
    :global {
      .ant-table-tbody > tr > td.leftCol,
      .ant-table-thead > tr > th.leftCol {
        width: 63.7% !important;
      }
      .ant-table-tbody > tr > td.rightCol,
      .ant-table-thead > tr > th.rightCol {
        width: 36.3% !important;
      }
    }
  }
}
