.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding-left: 10px;
}
.item {
  width: 100%;
  display: flex;
  gap: 12px;
  border-bottom: 1px solid #17233929;
  align-items: center;
  padding-bottom: 8px;
  padding-left: 11px;
}

.label {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
