@use '@styles/_variables' as *;
@use '@styles/_functions' as *;

.page {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color(light-gray);
  padding: 30px;
}

@media (max-width: 768px) {
  .page {
    padding: 30px 20px;
  }
}

@media (max-width: 576px) {
  .page {
    padding: 50px 0;
  }
}
